{{!-- big header with image blog cover --}}
<div class="big-header-container scene-element fade-in-down">
    <header class="main-header"
        {{#is "author"}}
            {{#if cover}}
                style="background-image: url({{cover}})"
            {{else}}
                {{#if @blog.cover}}
                    style="background-image: url({{@blog.cover}})"
                {{/if}}
            {{/if}}
        {{else}}
            {{#if @blog.cover}}
                style="background-image: url({{@blog.cover}})"
            {{/if}}
        {{/is}}>

        <div class="main-header-bars">
            <i class="fa fa-fw fa-search js-open-search"></i>
        </div>
        <div class="row main-header-content">
            <div class="small-12 columns">
                {{#if @blog.logo}}
                    <div class="logo-bg">
                        <a class="blog-logo" href="{{@blog.url}}">
                            <img src="{{@blog.logo}}" alt="Blog Logo">
                        </a>
                    </div>
                {{/if}}
                <h1 class="page-title"><span>{{@blog.title}}</span></h1>
                <h2 class="page-description"><span>{{@blog.description}}</span></h2>
            </div>
        </div>
    </header>

    {{!-- only for index page view --}}
    {{#is "index"}}
        {{! The index page filters }}
        <div class="index-filters">
            <div class="row">
                <div class="small-6 medium-3 columns">
                    {{!-- your filter options will land here --}}
                    {{!-- you can also remove this block --}}
                    <div class="js-filter-tags"></div>
                </div>
                <div class="small-6 medium-9 columns text-right">
                    <a href="#" class="js-grid-filter-button">
                        <i class="fa fa-fw fa-th"></i>
                    </a>
                    <a href="#" class="js-list-filter-button">
                        <i class="fa fa-fw fa-align-justify"></i>
                    </a>
                </div>
            </div>
        </div>
    {{/is}}

    {{!-- only for tag page view --}}
    {{#is "tag"}}
        <div class="tag-view-info">
            <div class="row">
                <div class="small-12 columns">
                    <a href="{{@blog.url}}" class="back-to-index">
                        <i class="fa fa-fw fa-chevron-circle-left"></i>
                    </a>
                    <span class="tag-view-label">
                         <span class="tag-view-label-text">All posts tagged in: </span>
                         <span class="tag-name">{{tag.name}}</span>
                    </span>
                </div>
            </div>
        </div>
    {{/is}}

    {{!-- only for author page view --}}
    {{#is "author"}}
        <div class="author-view-info">
            <div class="row">
                <div class="small-12 columns">
                    {{#if image}}
                        <div class="author-avatar">
                            <a href="{{url}}rss/" class="no-smoothstate right author-rss"><i class="fa fa-rss"></i></a>
                            <img class="author-avatar-img" src="{{image}}" alt="{{name}}">
                        </div>
                    {{/if}}
                    <div class="author-name">
                        {{name}}
                    </div>
                    <div class="author-bio">
                        {{bio}}
                    </div>
                </div>
            </div>
        </div>
    {{/is}}
</div>