<section class="disqus">
    <div class="row">
        <div class="small-12 columns">
            <h1 class="comments-header">Comments</h1>
            <div id="disqus_thread"></div>
            <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        </div>
    </div>
</section>