<footer class="footer scene-element fade-in-up">
    <div class="footer-social-icons">
        {{! add your urls ; more icons : http://fontawesome.io/icons/ }}
        {{! feed }}
        <a href="/rss/" class="no-smoothstate">
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                <i class="fa fa-rss fa-stack-1x"></i>
            </span>
        </a>
        {{! twitter }}
        <a href="https://twitter.com/steveniseki">
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                <i class="fa fa-twitter fa-stack-1x"></i>
            </span>
        </a>
        {{! google plus }}
        <a href="https://plus.google.com/u/0/105477871361434519945/">
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                <i class="fa fa-google-plus fa-stack-1x"></i>
            </span>
        </a>
        {{! behance }}
        <a href="https://bitbucket.org/StevenIseki">
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                <i class="fa fa-bitbucket fa-stack-1x"></i>
            </span>
        </a>
        {{! github }}
        <a href="https://github.com/StevenIseki">
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                <i class="fa fa-github fa-stack-1x"></i>
            </span>
        </a>
        {{! facebook }}
        <a href="http://stackoverflow.com/users/3709775/steven-iseki">
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                <i class="fa fa-stack-overflow fa-stack-1x"></i>
            </span>
        </a>
    </div>
    {{! more icons : http://fontawesome.io/icons/ }}
    <section class="footer-poweredby">
        Proudly published with <a href="https://ghost.org">Ghost</a> <a class="subscribe-button no-smoothstate" href="/rss/"><i class="fa fa-rss"></i></a>
    </section>
</footer>