<div class="loop">
   {{! This is the post loop - each post will be output using this markup }}
    <div class="post-row">
        <article class="js-post-block-grid post-block-grid">
            {{#foreach posts}}
                <div class="{{post_class}} js-post-block-grid-item post-block-grid-item" data-tags="{{#foreach tags}}{{#if @first}}{{name}}{{else}},{{name}}{{/if}}{{/foreach}}" data-groups='["{{#foreach tags}}{{#if @first}}{{name}}{{else}}","{{name}}{{/if}}{{/foreach}}"]'>
                    <div class="post-block-wrapper">
                        {{#if image}}
                            <figure class="effect-hera">
                                <img src="{{image}}" alt="{{title}}" class="index-post-image">
                                <figcaption>
                                    <p>
                                        <a href="{{url}}">
                                            <i class="fa fa-fw fa-link"></i>
                                        </a>
                                        <a href="{{image}}" class="anima-image-popup">
                                            <i class="fa fa-fw fa-search"></i>
                                        </a>
                                    </p>
                                </figcaption>
                            </figure>
                        {{/if}}
                        <div class="post-block-grid-content {{#if image}}with-image{{else}}no-image{{/if}}">
                            <header class="post-header">
                                <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date timeago="true"}} by {{author}}</time>
                                <h2 class="post-title"><a href="{{url}}">{{title}}</a></h2>
                                <div class="post-title-separator"></div>
                            </header>
                            <section>
                                {{excerpt words="50"}}
                            </section>
                            <footer class="post-meta">
                                <div>{{tags prefix=" Tags: "}}</div>
                            </footer>
                            <div>
                                <a href="{{url}}" class="post-read-more-btn">Read more</a>
                            </div>
                        </div>
                    </div>
                </div>
            {{/foreach}}
        </article>
    </div>

    {{! Previous/next page links - displayed on every page - this is a custom pagination partial}}
    <div class="row">
        {{pagination}}
    </div>
</div>