{{!-- sticky header partial --}}
<div class="headroom headroom--top">
    <div class="row row-with-header-logo">
        {{#if @blog.logo}}
            <div class="small-6 columns headroom-logo">
                <a class="blog-logo" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="Blog Logo" /></a>
            </div>
            <div class="small-6 columns text-right headeroom-icons">
                <i class="fa fa-fw fa-search js-open-search"></i>
            </div>
        {{else}}
            <div class="small-12 columns text-right headeroom-icons">
                <i class="fa fa-fw fa-search js-open-search"></i>
            </div>
        {{/if}}
    </div>
</div>