.loop .post-row .post-block-grid figure:before, .loop .post-row .post-block-grid figure:after {
  content: "";
  display: table;
  clear: both; }

html {
  height: auto;
  min-height: 100%; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 200;
  background-color: #f2f2f2;
  min-height: 100%;
  overflow-x: hidden; }
  body.nicescroll {
    overflow-y: hidden; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 900;
  font-family: "Raleway", sans-serif;
  text-transform: none;
  color: #23222d; }
  h1 a, h1 a:hover, h1 a:focus, h1 a:active, h2 a, h2 a:hover, h2 a:focus, h2 a:active, h3 a, h3 a:hover, h3 a:focus, h3 a:active, h4 a, h4 a:hover, h4 a:focus, h4 a:active, h5 a, h5 a:hover, h5 a:focus, h5 a:active, h6 a, h6 a:hover, h6 a:focus, h6 a:active {
    color: inherit;
    text-decoration: none; }

p, ul, ol {
  font-family: "Lato", sans-serif;
  font-weight: 200; }

pre {
  margin-bottom: 1.25rem; }

.row {
  width: 100%;
  max-width: 75rem; }
  .row .column, .row .columns {
    padding-left: 1.875rem;
    padding-right: 1.875rem; }
  .row.row-with-header-logo {
    max-width: none; }
    .row.row-with-header-logo .column, .row.row-with-header-logo .columns {
      padding-left: 0.9375rem;
      padding-right: 0.9375rem; }

a.button {
  text-decoration: none;
  color: white; }
  a.button:hover, a.button:active, a.button:focus {
    text-decoration: none;
    color: white; }

[class*="block-grid-"] {
  margin: 0; }

::-webkit-scrollbar {
  width: 0.625rem;
  background-color: white; }

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 0.375rem rgba(35, 34, 45, 0.3);
  background-color: white; }

::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 0.375rem rgba(35, 34, 45, 0.3);
  background-color: #23222d; }

.anima-carousel {
  margin-bottom: 1.5625rem; }

.back-to-top-btn {
  display: none;
  background-color: #23222d;
  color: white;
  position: fixed;
  bottom: 0;
  right: 2.8125rem;
  width: 3.125rem;
  height: 2.5rem;
  line-height: 2.5rem;
  text-align: center;
  cursor: pointer;
  transition: all .4s;
  -webkit-transition: all .4s;
  border-radius: 0.1875rem 0.1875rem 0 0;
  z-index: 999;
  -webkit-transform: translateZ(0);
  transform: translateZ(0); }
  .back-to-top-btn.hidden {
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%); }
  .back-to-top-btn:hover, .back-to-top-btn:focus, .back-to-top-btn:active {
    color: white;
    background-color: #2e2d3c; }
  @media only screen and (min-width: 40.063em) {
    .back-to-top-btn {
      display: block; } }

.headroom {
  padding: 1.25rem;
  -webkit-transition: -webkit-transform .5s;
  -ms-transition: -ms-transform .5s;
  transition: transform .5s;
  background-color: #23222d;
  color: white;
  position: fixed;
  z-index: 10;
  right: 0;
  left: 0;
  top: 0;
  -webkit-transform: translate3d(0, -100%, 0);
  -ms-transform: translate(0, -100%);
  transform: translate3d(0, -100%, 0); }
  .headroom.headroom--not-top {
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate(0, 0);
    transform: translate3d(0, 0, 0); }
  .headroom.headroom--top {
    -webkit-transform: translate3d(0, -100%, 0);
    -ms-transform: translate(0, -100%);
    transform: translate3d(0, -100%, 0); }
  .headroom .headroom-logo img {
    max-height: 3.125rem; }
  .headroom .headeroom-icons {
    line-height: 3.125rem;
    font-size: 2.25rem; }
    .headroom .headeroom-icons .fa {
      cursor: pointer;
      height: 3.125rem;
      line-height: 3.125rem;
      vertical-align: middle; }
      .headroom .headeroom-icons .fa.fa-search {
        font-size: 60%; }

html[data-useragent*='Android 4.0'] .headroom,
html[data-useragent*='Android 4.1'] .headroom,
html[data-useragent*='Android 4.2'] .headroom,
html.no-csstransforms3d .headroom {
  top: -300px;
  -webkit-transition: top .5s;
  transition: top .5s; }
  html[data-useragent*='Android 4.0'] .headroom.headroom--not-top,
  html[data-useragent*='Android 4.1'] .headroom.headroom--not-top,
  html[data-useragent*='Android 4.2'] .headroom.headroom--not-top,
  html.no-csstransforms3d .headroom.headroom--not-top {
    top: 0; }
  html[data-useragent*='Android 4.0'] .headroom.headroom--top,
  html[data-useragent*='Android 4.1'] .headroom.headroom--top,
  html[data-useragent*='Android 4.2'] .headroom.headroom--top,
  html.no-csstransforms3d .headroom.headroom--top {
    top: -300px; }

.big-search {
  position: absolute;
  width: 100%;
  min-height: 100%;
  top: 0;
  left: 0;
  background: rgba(35, 34, 45, 0.95);
  -webkit-user-select: none;
  user-select: none;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.5s, visibility 0s 0.5s;
  transition: opacity 0.5s, visibility 0s 0.5s;
  z-index: 99999;
  overflow-y: auto; }
  .big-search .big-search-close-btn {
    font-size: 3.75rem;
    text-align: center;
    position: absolute;
    right: 2.1875rem;
    top: 2.1875rem;
    overflow: hidden;
    border: none;
    color: white;
    outline: none;
    z-index: 100;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none; }
  .big-search.open {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s; }
  .big-search .big-search-container {
    margin-top: 11%; }
    .big-search .big-search-container .big-search-form-input {
      color: white;
      height: 7.5rem;
      font-size: 3.125rem;
      padding: 1.25rem 0;
      font-weight: 900;
      background-color: transparent;
      box-shadow: none;
      border: 0;
      border-bottom: 0.1875rem solid white; }
      .big-search .big-search-container .big-search-form-input:focus {
        box-shadow: none;
        background-color: transparent; }
      .big-search .big-search-container .big-search-form-input::-webkit-input-placeholder {
        color: white; }
      .big-search .big-search-container .big-search-form-input:-moz-placeholder {
        color: white;
        opacity: 1; }
      .big-search .big-search-container .big-search-form-input::-moz-placeholder {
        color: white;
        opacity: 1; }
      .big-search .big-search-container .big-search-form-input:-ms-input-placeholder {
        color: white; }
    .big-search .big-search-container .big-search-results {
      color: white; }
      .big-search .big-search-container .big-search-results > p {
        font-weight: 600;
        font-size: 2.25rem;
        padding-top: 0.9375rem;
        padding-bottom: 0.9375rem; }
      .big-search .big-search-container .big-search-results a {
        color: white; }
        .big-search .big-search-container .big-search-results a p, .big-search .big-search-container .big-search-results a h1, .big-search .big-search-container .big-search-results a h2, .big-search .big-search-container .big-search-results a h3, .big-search .big-search-container .big-search-results a h4, .big-search .big-search-container .big-search-results a h5, .big-search .big-search-container .big-search-results a h6 {
          color: white;
          font-weight: 400;
          text-transform: none;
          -webkit-transition: color .3s;
          transition: color .3s; }
        .big-search .big-search-container .big-search-results a:hover, .big-search .big-search-container .big-search-results a:active, .big-search .big-search-container .big-search-results a:focus {
          text-decoration: none; }
        .big-search .big-search-container .big-search-results a:hover p, .big-search .big-search-container .big-search-results a:hover h1, .big-search .big-search-container .big-search-results a:hover h2, .big-search .big-search-container .big-search-results a:hover h3, .big-search .big-search-container .big-search-results a:hover h4, .big-search .big-search-container .big-search-results a:hover h5, .big-search .big-search-container .big-search-results a:hover h6 {
          color: #999999; }

.big-header-container {
  position: relative;
  z-index: 1; }
  .big-header-container .main-header {
    text-align: left;
    color: white;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-color: #23222d; }
    .big-header-container .main-header .main-header-content {
      padding-top: 9.375rem;
      padding-bottom: 3.75rem; }
      .big-header-container .main-header .main-header-content .blog-logo img {
        max-width: 7.5rem; }
    .big-header-container .main-header .page-title {
      color: white;
      font-weight: 800;
      font-size: 2.875rem; }
      @media only screen and (min-width: 48em) {
        .big-header-container .main-header .page-title {
          font-size: 3.75rem; } }
      @media only screen and (min-width: 64em) {
        .big-header-container .main-header .page-title {
          font-size: 5rem; } }
    .big-header-container .main-header .page-description {
      font-weight: 400;
      color: white; }
    .big-header-container .main-header .main-header-logo-container .main-header-logo img {
      max-height: 6.25rem; }
    .big-header-container .main-header .main-header-bars {
      position: absolute;
      right: 0.9375rem;
      top: 0;
      width: 5.625rem;
      height: 6.25rem;
      font-size: 2.25rem;
      text-align: center; }
      .big-header-container .main-header .main-header-bars .fa {
        cursor: pointer;
        line-height: 6.25rem;
        height: 6.25rem;
        vertical-align: middle; }
        .big-header-container .main-header .main-header-bars .fa.fa-search {
          font-size: 60%; }
      @media only screen and (min-width: 48em) {
        .big-header-container .main-header .main-header-bars {
          right: 1.875rem; } }

.index-filters {
  height: 3.75rem;
  line-height: 3.75rem;
  background-color: white; }
  .index-filters a {
    display: inline-block;
    color: #23222d;
    outline: none; }
    .index-filters a .fa {
      line-height: 3.75rem;
      font-size: 1.625rem; }
    .index-filters a.active .fa {
      color: #ff4d4d; }
    .index-filters a:focus, .index-filters a:active {
      color: inherit; }
    .index-filters a:hover {
      color: #3a384a; }

.main-content-wrapper {
  position: relative;
  overflow: hidden; }

.loop {
  padding-top: 3.75rem;
  padding-bottom: 3.75rem; }
  .loop .post-row {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    max-width: 75rem;
    margin-left: auto;
    margin-right: auto; }
    @media only screen and (min-width: 48em) {
      .loop .post-row {
        padding-left: 1.875rem;
        padding-right: 1.875rem; } }
    .loop .post-row .post-block-grid .post-block-grid-item {
      padding-left: 0.9375rem;
      padding-right: 0.9375rem;
      float: left;
      width: 100%; }
      @media only screen and (min-width: 62.5em) {
        .loop .post-row .post-block-grid .post-block-grid-item {
          width: 50%; } }
      .loop .post-row .post-block-grid .post-block-grid-item .post-block-wrapper {
        overflow: hidden; }
      @media only screen and (min-width: 62.5em) {
        .loop .post-row .post-block-grid .post-block-grid-item.list {
          width: 100%; } }
      .loop .post-row .post-block-grid .post-block-grid-item.list .post-block-wrapper {
        background-color: white; }
        .loop .post-row .post-block-grid .post-block-grid-item.list .post-block-wrapper figure {
          width: 100%; }
          @media only screen and (min-width: 48em) {
            .loop .post-row .post-block-grid .post-block-grid-item.list .post-block-wrapper figure {
              width: 40%; } }
        .loop .post-row .post-block-grid .post-block-grid-item.list .post-block-wrapper .post-block-grid-content {
          width: 100%; }
          @media only screen and (min-width: 48em) {
            .loop .post-row .post-block-grid .post-block-grid-item.list .post-block-wrapper .post-block-grid-content {
              width: 60%; } }
          .loop .post-row .post-block-grid .post-block-grid-item.list .post-block-wrapper .post-block-grid-content.no-image {
            width: 100%; }
      .loop .post-row .post-block-grid .post-block-grid-item.featured:before {
        position: absolute;
        bottom: 1.25rem;
        right: 1.5rem;
        content: "\f005";
        color: white;
        font-family: "FontAwesome";
        font-size: 1rem;
        display: block;
        z-index: 2; }
      .loop .post-row .post-block-grid .post-block-grid-item.featured:after {
        content: " ";
        position: absolute;
        display: block;
        bottom: -0.6875rem;
        right: 0.5625rem;
        width: 0;
        height: 0;
        border-top: 2.5rem solid transparent;
        border-bottom: 2.5rem solid transparent;
        border-right: 2.5rem solid #23222d;
        -webkit-transform: rotate(225deg);
        -ms-transform: rotate(225deg);
        transform: rotate(225deg); }
    .loop .post-row .post-block-grid .post-block-grid-content {
      background-color: white;
      padding: 1.875rem;
      overflow-x: hidden; }
      .loop .post-row .post-block-grid .post-block-grid-content .index-post-image {
        display: block; }
      @media only screen and (min-width: 40.063em) {
        .loop .post-row .post-block-grid .post-block-grid-content {
          padding: 3.125rem; } }
    .loop .post-row .post-block-grid figure {
      position: relative;
      float: left;
      overflow: hidden;
      width: 100%;
      text-align: center;
      text-align: center;
      cursor: pointer;
      margin: 0;
      background-color: white; }
      .loop .post-row .post-block-grid figure img {
        position: relative;
        display: block;
        max-width: 100%;
        margin: 0 auto; }
      .loop .post-row .post-block-grid figure figcaption {
        padding: 2em;
        color: #fff;
        text-transform: uppercase;
        font-size: 1.25em;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%; }
        .loop .post-row .post-block-grid figure figcaption > a {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 1000;
          text-indent: 200%;
          white-space: nowrap;
          font-size: 0;
          opacity: 0; }
        .loop .post-row .post-block-grid figure figcaption::after, .loop .post-row .post-block-grid figure figcaption::before {
          pointer-events: none; }
      .loop .post-row .post-block-grid figure p {
        margin: 0;
        letter-spacing: 1px;
        font-size: 68.5%; }
      .loop .post-row .post-block-grid figure.effect-hera p {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
        -ms-transition: opacity 0.35s, -ms-transform 0.35s;
        transition: opacity 0.35s, transform 0.35s;
        -webkit-transform: translate3d(-50%, -50%, 0);
        -ms-transform: translate(-50%, -50%);
        transform: translate3d(-50%, -50%, 0);
        -webkit-transform-origin: 50%;
        -ms-transform-origin: 50%;
        transform-origin: 50%;
        width: 100px;
        text-transform: none;
        font-size: 121%;
        line-height: 2; }
        .loop .post-row .post-block-grid figure.effect-hera p a {
          color: white;
          outline: none; }
          .loop .post-row .post-block-grid figure.effect-hera p a i {
            outline: none;
            opacity: 0;
            font-size: 2rem;
            -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
            -ms-transition: opacity 0.35s, -ms-transform 0.35s;
            transition: opacity 0.35s, transform 0.35s; }
          .loop .post-row .post-block-grid figure.effect-hera p a:first-child i {
            -webkit-transform: translate3d(-3.75rem, -3.75rem, 0);
            -ms-transform: translate(-3.75rem, -3.75rem);
            transform: translate3d(-3.75rem, -3.75rem, 0); }
          .loop .post-row .post-block-grid figure.effect-hera p a:nth-child(2) i {
            -webkit-transform: translate3d(3.75rem, -3.75rem, 0);
            -ms-transform: translate(3.75rem, -3.75rem);
            transform: translate3d(3.75rem, -3.75rem, 0); }
          .loop .post-row .post-block-grid figure.effect-hera p a:hover {
            opacity: 0.6;
            text-decoration: none; }
      .loop .post-row .post-block-grid figure.effect-hera figcaption::before {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 10.625rem;
        height: 10.625rem;
        border: 0.125rem solid white;
        content: '';
        opacity: 0;
        -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
        -ms-transition: opacity 0.35s, -ms-transform 0.35s;
        transition: opacity 0.35s, transform 0.35s;
        -webkit-transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, -45deg) scale3d(0, 0, 1);
        -ms-transform: translate(-50%, -50%);
        transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, -45deg) scale3d(0, 0, 1);
        -webkit-transform-origin: 50%;
        -ms-transform-origin: 50%;
        transform-origin: 50%; }
      .loop .post-row .post-block-grid figure.effect-hera:hover figcaption::before {
        opacity: 1;
        -webkit-transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, -45deg) scale3d(1, 1, 1);
        -ms-transform: translate(-50%, -50%);
        transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, -45deg) scale3d(1, 1, 1); }
      .loop .post-row .post-block-grid figure.effect-hera:hover p i:empty {
        -webkit-transform: translate3d(0, 0, 0);
        -ms-transform: translate(0, 0);
        transform: translate3d(0, 0, 0);
        opacity: 1; }
    .loop .post-row .post {
      padding-top: 0.9375rem;
      padding-bottom: 0.9375rem;
      -webkit-transition: all .3s;
      transition: all .3s; }
      .loop .post-row .post .post-date {
        font-weight: 900;
        font-size: 0.875rem;
        text-transform: uppercase; }
        .loop .post-row .post .post-date a {
          color: #ff4d4d;
          position: relative;
          display: inline-block; }
          .loop .post-row .post .post-date a:after {
            position: absolute;
            content: " ";
            display: block;
            width: 0%;
            height: 0.125rem;
            background-color: #ff4d4d;
            bottom: 0;
            left: 50%;
            -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            transform: translateX(-50%);
            -webkit-transition: width .2s;
            transition: width .2s; }
          .loop .post-row .post .post-date a:hover, .loop .post-row .post .post-date a:focus, .loop .post-row .post .post-date a:active {
            text-decoration: none;
            color: #ff4d4d; }
            .loop .post-row .post .post-date a:hover:after, .loop .post-row .post .post-date a:focus:after, .loop .post-row .post .post-date a:active:after {
              width: 100%; }
      .loop .post-row .post .post-title {
        font-weight: 900;
        text-transform: none;
        line-height: 1.1;
        padding-bottom: 0.625rem;
        padding-top: 0.625rem; }
      .loop .post-row .post .post-title-separator {
        width: 4.375rem;
        height: 0.3125rem;
        margin-bottom: 1.25rem;
        background-color: #23222d; }
      .loop .post-row .post .post-meta {
        font-weight: 600;
        padding-top: 0.9375rem;
        padding-bottom: 0.9375rem;
        font-size: 0.75rem;
        text-transform: uppercase; }
        .loop .post-row .post .post-meta a {
          color: #ff4d4d;
          position: relative;
          display: inline-block; }
          .loop .post-row .post .post-meta a:after {
            position: absolute;
            content: " ";
            display: block;
            width: 0%;
            height: 0.125rem;
            background-color: #ff4d4d;
            bottom: 0;
            left: 50%;
            -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            transform: translateX(-50%);
            -webkit-transition: width .2s;
            transition: width .2s; }
          .loop .post-row .post .post-meta a:hover, .loop .post-row .post .post-meta a:focus, .loop .post-row .post .post-meta a:active {
            text-decoration: none;
            color: #ff4d4d; }
            .loop .post-row .post .post-meta a:hover:after, .loop .post-row .post .post-meta a:focus:after, .loop .post-row .post .post-meta a:active:after {
              width: 100%; }
    .loop .post-row .post-read-more-btn {
      margin-top: 0.625rem;
      margin-bottom: 0.625rem;
      display: inline-block;
      padding: 0.625rem 1.875rem;
      border: 0.1875rem solid #23222d;
      font-weight: 900;
      text-transform: uppercase;
      text-align: center;
      color: #23222d;
      font-size: 0.75rem;
      -webkit-transition: background-color .3s;
      transition: background-color .3s; }
      .loop .post-row .post-read-more-btn:hover {
        color: white;
        background-color: #23222d;
        text-decoration: none; }

.tag-view-info {
  height: 6.25rem;
  line-height: 6.25rem;
  background-color: white;
  font-weight: 400;
  font-size: 1.5rem;
  text-transform: uppercase;
  position: relative; }
  .tag-view-info .tag-view-label {
    height: 6.25rem;
    line-height: 6.25rem;
    float: left;
    margin-top: 0.125rem; }
    .tag-view-info .tag-view-label .tag-view-label-text {
      display: none; }
      @media only screen and (min-width: 48em) {
        .tag-view-info .tag-view-label .tag-view-label-text {
          display: inline; } }
  .tag-view-info .back-to-index {
    color: #23222d;
    height: 6.25rem;
    line-height: 6.25rem;
    float: left; }
    .tag-view-info .back-to-index .fa {
      -webkit-transition: -webkit-transform .2s;
      -ms-transition: -ms-transform .2s;
      transition: transform .2s; }
    .tag-view-info .back-to-index:hover {
      color: #23222d; }
      .tag-view-info .back-to-index:hover .fa {
        -webkit-transform: translateX(-15%);
        -ms-transform: translateX(-15%);
        transform: translateX(-15%); }
  .tag-view-info .fa {
    font-size: 2.5rem;
    vertical-align: middle; }
  .tag-view-info .tag-name {
    font-weight: 900; }

.author-view-info {
  background-color: white;
  font-weight: 400;
  font-size: 1.5rem;
  position: relative; }
  .author-view-info .author-name {
    margin-top: 1.5625rem;
    font-weight: 900;
    font-size: 2rem;
    font-family: "Raleway", sans-serif; }
  .author-view-info .author-bio {
    font-size: 0.8125rem;
    text-transform: none;
    margin-bottom: 1.5625rem; }
  .author-view-info .author-avatar {
    display: none; }
    .author-view-info .author-avatar .author-rss {
      position: absolute;
      bottom: 0.3125rem;
      right: 0;
      z-index: 99;
      padding: 0.3125rem 0.9375rem 0.625rem;
      background-color: white;
      line-height: 1.1;
      height: auto;
      border-radius: 0.625rem;
      color: #23222d; }
      .author-view-info .author-avatar .author-rss:hover {
        color: black; }
      .author-view-info .author-avatar .author-rss .fa {
        font-size: 1.25rem; }
    .author-view-info .author-avatar .author-avatar-img {
      display: block;
      position: absolute;
      max-width: 15.625rem;
      border: 1.25rem solid white;
      bottom: 0.3125rem;
      right: 0; }
    @media only screen and (min-width: 64em) {
      .author-view-info .author-avatar {
        display: block; } }

.footer {
  background-color: #23222d;
  text-align: center;
  color: #b3b3b3;
  padding-top: 5rem;
  padding-bottom: 5rem; }
  .footer .footer-social-icons a {
    color: #23222d; }
    .footer .footer-social-icons a:hover, .footer .footer-social-icons a:focus, .footer .footer-social-icons a:active {
      color: #23222d; }
  .footer .footer-poweredby {
    margin-top: 0.625rem; }
    .footer .footer-poweredby a {
      color: #b3b3b3; }
      .footer .footer-poweredby a:hover, .footer .footer-poweredby a:focus, .footer .footer-poweredby a:active {
        color: #b3b3b3; }

.pagination {
  margin-top: 3.4375rem;
  text-align: center; }
  .pagination a {
    margin-top: 0.625rem;
    margin-bottom: 0.625rem;
    display: inline-block;
    padding: 0.625rem 1.875rem;
    border: 0.1875rem solid #23222d;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    color: #23222d;
    font-size: 0.75rem;
    -webkit-transition: background-color .3s;
    transition: background-color .3s; }
    .pagination a:hover {
      color: white;
      background-color: #23222d;
      text-decoration: none; }
    .pagination a:active, .pagination a:focus {
      color: white;
      background-color: #23222d; }
    .pagination a .fa {
      font-size: 0.75rem;
      margin-right: 0.3125rem; }
