<div class="menu-container js-menu-container">
    <div class="menu-wrap">
        <nav class="menu">
            <div class="icon-list">
                <a href="{{@blog.url}}"><i class="fa fa-fw fa-home"></i><span>Home</span></a>
                <a href="/about-us"><i class="fa fa-fw fa-user"></i><span>About us</span></a>
                <a href="/gallery"><i class="fa fa-fw fa-picture-o"></i><span>Gallery</span></a>
                <a href="/shop"><i class="fa fa-fw fa-shopping-cart"></i><span>Shop</span></a>
                <a href="/contact"><i class="fa fa-fw fa-envelope-o"></i><span>Contact</span></a>
            </div>
        </nav>
        <button class="close-button js-close-main-menu" id="close-button">Close Menu</button>
    </div>
</div>
<div class="menu-overlay js-menu-overlay"></div>