<!DOCTYPE html>
<html>
<head>
    {{! Document Settings }}
    <meta charset="utf-8">

    {{! Page Meta }}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}">

    <meta name="HandheldFriendly" content="True">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="{{asset "favicon.ico"}}">

    {{! Styles - Foundation 5 included}}

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link href='http://fonts.googleapis.com/css?family=Lato:200,300,400,700,900' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:200,300,400,700,900' rel='stylesheet' type='text/css'>
    {{!-- styles for syntax highlighter (here the custom one) you will find more here: https://github.com/isagalaev/highlight.js/tree/master/src/styles just change .min.css file name below
    you can add them like:
    <link rel="stylesheet" href="{{asset "css/vendor/hljs-anima-theme.css"}}">
    <link rel="stylesheet" href="{{asset "css/vendor/normalize.css"}}">
    <link rel="stylesheet" href="{{asset "css/vendor/foundation.min.css"}}">
    <link rel="stylesheet" href="{{asset "css/vendor/magnific-popup.css"}}">
    <link rel="stylesheet" href="{{asset "css/vendor/owl.carousel.css"}}">
    <link rel="stylesheet" href="{{asset "css/vendor/owl.theme.default.css"}}">
    <link rel="stylesheet" href="{{asset "css/menu.css"}}">
    <link rel="stylesheet" href="{{asset "css/select.css"}}">
    <link rel="stylesheet" href="{{asset "css/style.css"}}">
    <link rel="stylesheet" href="{{asset "css/post.css"}}">

    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}

    {{! Modernizr }}
    <script src="{{asset "js/vendor/modernizr.js"}}"></script>
</head>
{{! If you want NiceScroll enabled just add 'nicescroll' class here in the body tag}}
<body class="{{body_class}}">

    {{! Everything else gets inserted here }}
    <div id="main" class="main-scene">
        {{{body}}}
        {{> "menu"}}
        {{> "search"}}
    </div>

    {{!-- Back to top button --}}
    <a href="#" class="back-to-top-btn js-back-to-top-btn hidden">
        <i class="fa fa-chevron-up"></i>
    </a>

    {{! Ghost outputs important scripts and data with this tag }}
    {{ghost_foot}}

    {{! The main JavaScript files }}
    <script src="{{asset "js/vendor/foundation.min.js"}}"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.3/highlight.min.js"></script>
    <script src="{{asset "js/vendor/headroom.js"}}"></script>
    <script src="{{asset "js/vendor/jquery.headroom.js"}}"></script>
    <script src="{{asset "js/vendor/jquery.smoothState.js"}}"></script>
    <script src="{{asset "js/vendor/reading-time.js"}}"></script>
    <script src="{{asset "js/vendor/imagesloaded.js"}}"></script>
    <script src="{{asset "js/vendor/nice-scroll.js"}}"></script>
    <script src="{{asset "js/vendor/shuffle.js"}}"></script>
    <script src="{{asset "js/vendor/magnific-popup.js"}}"></script>
    <script src="{{asset "js/vendor/select-fx.js"}}"></script>
    <script src="{{asset "js/vendor/ghost-hunter.js"}}"></script>
    <script src="{{asset "js/vendor/owl.carousel.js"}}"></script>
    <script src="{{asset "js/vendor/velocity.js"}}"></script>
    <script src="{{asset "js/anima.js"}}"></script>

</body>
</html>
